/* Basic CSS stylesheet from https://gist.github.com/jacksarick/9fab0439a0b5a043cf461f616195cd84 */

body {
  /*margin: 0 auto;*/
  line-height: 1.5;
  /*padding: 4em 1em;*/
  color: #555;
  /*font-family: "Helvetica", "Arial", sans-serif;*/
  /*margin-top: 1em;*/
  /*padding-top: 1em;*/
}

.buffer {
	height: 5vh;
}

select {
	all: inherit;
	display: inline;
	outline: 2px dotted blue;
	margin: 8px;
	padding-right: .5em;
}

#user-count {
	outline: 2px dotted red;
}